{% extends "html/templates/base.html" %} {% block title %}Reportes{% endblock %}
{% block head_adds %}
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='/favicon.ico') }}"
/>
<!-- Custom styles -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/css/reports.css') }}"
/>
{% endblock %} {% block content %}
<section class="report-section">
  <div class="container">
    <div class="report-header">
      <h1 class="h3">Reportes</h1>
      <p>
        Visualización embebida reportes. Aquí puedes incluir una breve
        explicación.
      </p>
    </div>

    <!-- Contenedor del reporte -->
    <div class="report-frame">
      <iframe
        loading="lazy"
        src="https://www.canva.com/design/DAGh3yeIOpA/JHASMV07twl3kzW3uiX-6w/view?embed"
        allowfullscreen
      >
      </iframe>
    </div>

    <!-- Enlace al recurso original -->
    <a
      class="report-link"
      href="https://www.canva.com/design/DAGh3yeIOpA/JHASMV07twl3kzW3uiX-6w/view"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-link-45deg"></i>
      <span>Ver en Canva — Mapa mental sobre Regresión Logística</span>
    </a>
  </div>
</section>
{% endblock %}
